html, body {
  text-align: center;
  font-family: 'Crimson Text', Verdana;
  margin: 0;
  padding: 0;
  background: #111;
  font-size: 1.0em;
}

input, select {
  font-family: 'Crimson Text', Verdana;
  max-width: 80px;
}

section#group-descriptions {
  display: none;
}

.details img {
  width: 200px;
  margin: auto;
}

.details div {
  text-align: justify;
  padding: 5px;
  font-weight: 0.9em;
}

section#controls {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.7);
}

section#controls canvas {
  /* background: white;*/
  box-shadow:inset 0 0 5px #222;
  margin: auto;
}

section#controls > .options-body,
section#controls > header {
  text-align: left;
  padding: 3px;
}

section#controls > header {
  background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  margin: 0 0 7px 0;
  text-indent: 2px;
  border-top: 1px solid #bbb;
}

section#controls > .options-body.pattern {
  text-align: center;
}

section#controls > .options-body {
  font-size: 0.9em;
}

#container {
  margin: auto;
}

body.no-webgl #container {
  display: none;
}

div.fallback {
  display: none;
}

body.no-webgl div.fallback {
  display: block;
}

.description {
  width: 200px;
  font-size: 13px;
  position: absolute;
  padding: 5px;
  text-align: left;
  right: 8px;
  top: 8px;
  border: 1px solid #ccc;
  background-color: rgb(255, 241, 168);
}

#title {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.1em;
}

h1 {
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
  margin: 5px;
}

#canvas-container {
}

canvas#surface {
}

canvas {
}

footer {
  color: white;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  text-shadow: 0 0 5px #fff;
}

footer > a {
  color: white;
  text-shadow: 0 0 5px #fff;
}
