html, body {
  text-align: center;
  font-family: 'Crimson Text', Times;
  margin: 0;
  padding: 0;
  background: #111;
  font-size: 1.0em;
}

input, select {
  font-family: 'Crimson Text', Times;
  max-width: 80px;
}

section#group-descriptions {
  display: none;
}

.details img {
  margin: auto;
  display: block;
}

.details div {
  text-align: justify;
  line-height: 1.2em;
  padding: 5px;
  font-weight: 0.9em;
}

section#controls {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 220px;
  background-color: rgba(255, 255, 255, 0.7);
}

section#controls canvas {
  box-shadow:inset 0 0 5px #222;
  margin: auto;
}

section#controls > .options-body,
section#controls > header {
  text-align: left;
  padding: 3px;
}

section#controls > .options-body.other {
  text-align: right;
}

section#controls > header {
  background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  margin: 0 0 7px 0;
  text-indent: 2px;
  border-top: 1px solid #bbb;
}

section#controls > .options-body.pattern {
  text-align: center;
}

section#controls > .options-body {
  font-size: 0.9em;
}

#container {
  margin: auto;
}

body.no-webgl #container {
  display: none;
}

div.fallback {
  display: none;
}

body.no-webgl div.fallback {
  display: block;
}

.description {
  width: 200px;
  font-size: 13px;
  position: absolute;
  padding: 5px;
  text-align: left;
  right: 8px;
  top: 8px;
  border: 1px solid #ccc;
  background-color: rgb(255, 241, 168);
}

#title {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.1em;
}

h1 {
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
  margin: 5px;
}

#canvas-container {
}

canvas#surface {
}

canvas {
}

footer {
  color: white;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  text-shadow: 0 0 5px #fff;
}

footer > a {
  color: white;
  text-shadow: 0 0 5px #fff;
}

/* code mirror */
.CodeMirror {
  color: black;
  /* background-color: transparent;*/
  position: absolute;
  top: 0;
  right: 220px;
  padding: 12px;
  border: solid 1px transparent;
  line-height: 1.1em;
  font-family: monospace;
  font-size: 14px;
  font-weight: bold;
  visibility: visible;
  
  background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(204,204,204) 98%);
  
  /* transition between transparent and semi-transparent black on hover */
  
  border-radius: 1em 0 0 1em;
  text-align: left;
}

.CodeMirror:hover {
}

.CodeMirror-scroll {
  overflow: auto;
  height: 100%;
  /* This is needed to prevent an IE[67] bug where the scrolled content
     is visible outside of the scrolling box. */
  position: relative;
}

.CodeMirror-gutter {
  position: absolute; left: 0; top: 0;
  z-index: 10;
/*  background-color: #f7f7f7; */
/*  border-right: 1px solid black; */
  min-width: 2em;
  height: 100%;
}
.CodeMirror-gutter-text {
  color: #aaa;
  text-align: right;
  padding: .4em .4em .4em .4em;
  white-space: pre !important;
}
.CodeMirror-lines {
  padding: .4em;
}

.CodeMirror pre {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-width: 0; margin: 0; padding: 0; background: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 0; margin: 0;
  white-space: pre;
  word-wrap: normal;
}

.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: hidden;
}

.CodeMirror textarea {
  font-family: inherit !important;
  font-size: inherit !important;
}

.CodeMirror-cursor {
  z-index: 10;
  position: absolute;
  visibility: hidden;
  border-left: 1px solid green !important;
}
.CodeMirror-focused .CodeMirror-cursor {
  visibility: visible;
}

span.CodeMirror-selected {
  background: #ccc !important;
  color: HighlightText !important;
}
.CodeMirror-focused span.CodeMirror-selected {
  background: Highlight !important;
}

.CodeMirror-matchingbracket {color: #0f0 !important;}
.CodeMirror-nonmatchingbracket {color: #f22 !important;}

.CodeMirror pre.errorMarker {
  color: #f00;
  font-weight: bold;
  background: rgba(200, 100, 0, 0.5);
  border-radius: 3px;
}
.CodeMirror:hover pre.errorLine {
  background: rgba(200, 50, 0, 0.2);
}

.CodeMirror .resizer {
	display: block;
	position: absolute;
	bottom: 3px;
	right: 3px;
	width: 11px;
	height: 11px;
	background-image: url('resizer.png');
	background-repeat: no-repeat;
	cursor: se-resize;
}

.cm-s-default span.cm-keyword {color: #02a;}
.cm-s-default span.cm-number {color: #fbb;}
.cm-s-default span.cm-def {color: #55f;}
.cm-s-default span.cm-comment {color: #8ff;}
.cm-s-default span.cm-operator {color: #5b5;}
.cm-s-default span.cm-meta {color: #8f8;}
.cm-s-default span.cm-qualifier {color: #888;}
.cm-s-default span.cm-builtin {color: #fbf;}
.cm-s-default span.cm-bracket {color: #bbb;}
.cm-s-default span.cm-word {color: #bbb;}

