html, body {
  text-align: center;
  font-family: Verdana;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  background-color: rgb(50, 50, 50);
  color: white;
}

h1 {
  font-family: 'Crimson Text', Verdana;
}

div#title {

}

div.description {
  font-size: 0.9em;
}

a:link, a:visited {
  color: #23A4FF;
}

a:hover, a:active {
  color: #6EC3FF;
}

#container {
  margin: auto;
  width: 1100px;
}

body.no-webgl #container {
  display: none;
}

div.fallback {
  display: none;
}

body.no-webgl div.fallback {
  display: block;
}

div.tooltip {
  position: absolute;
  color: white;
  padding: 5px;
  background-color: #111;
  /*
  border-radius: 0.5em;
  border: 1px solid #ccc;
  background-color: -webkit-linear-gradient(#111, #666, #666);
  background-color: -moz-linear-gradient(top, #111, #666, #666);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  */
  font-size: 0.8em;
  opacity: 0;
}

div.tooltip.show {
  opacity: 1;
}

div.tooltip.hide {
  opacity: 0;
}

#log-panel {
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  color: white;
  background-color: red;
  font-weight: bold;
  font-size: 0.6em;
  z-index: 4000;
}


.description {
  font-size: 14px;
  text-align: center;
  margin: 10px auto;
  padding: 3px;
/*background-color: rgb(255, 241, 168);*/
/*  border: 1px solid #ccc;*/
}

img.legend {
  margin: 9px auto;
  width: 190px;
  background-color: #444;
}

h1 {
  text-shadow: rgba(255, 255, 255, 0.2) 0 0 3px;
  margin: 5px;
}

#map {
  position: relative;
  height: 575px;
}

.canvas-container {
  margin: auto;
}

.canvas-container canvas, 
.canvas-container .list-wrapper {
  float: left;
}

.list-wrapper, 
.list-container {
  height: 512px;
}

.list-container {
  overflow: auto;
  width: 200px;
}

.list-wrapper {
  overflow: hidden;
  width: 185px;
}

ul#airline-list {
  font-size: 0.8em;
  list-style: none;
  padding: 0;
}

ul#airline-list li {
  list-style: none;
  display: block;
  text-align: left;
  color: white;
}

canvas {
  background-color: rgb(0.1, 0.1, 0.1);
}

.footer {
  margin: 4px;
  font-size: 0.8em;
}

#loading {
  background-color: #550000;
  color: #fff;
  font-style: italic;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
}
